<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clasificación</title>
</head>
<body>

<h1>Clasificación</h1>

<table border="1">
    <thead>
    <tr>
        <th>Pos</th>
        <th>Equipo</th>
        <th>Puntos</th>
        <th>Victorias</th>
        <th>Empates</th>
        <th>Derrotas</th>
        <th>GF</th>
        <th>GC</th>
        <th>DG</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="e, stat : ${equipos}">
        <td th:text="${stat.index + 1}"></td>
        <td th:text="${e.nombre}"></td>
        <td th:text="${e.puntos}"></td>
        <td th:text="${e.victorias}"></td>
        <td th:text="${e.empates}"></td>
        <td th:text="${e.derrotas}"></td>
        <td th:text="${e.golesFavor}"></td>
        <td th:text="${e.golesContra}"></td>
        <td th:text="${e.golesFavor - e.golesContra}"></td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/}">Volver</a>

</body>
</html>
