<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Equipo</title>
</head>
<body>

<h1>Crear Equipo</h1>

<form th:action="@{/equipos/crear}" th:object="${equipo}" method="post">

    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required>
    <br><br>

    <label>Entrenador:</label>
    <input type="text" th:field="*{entrenador}">
    <br><br>

    <button type="submit">Guardar</button>
    <a th:href="@{/equipos}">Cancelar</a>

</form>

</body>
</html>
