<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programar Partido</title>
</head>
<body>

<h1>Programar Partido</h1>

<form th:action="@{/partidos/crear}" method="post">

    <label>Fecha:</label>
    <input type="date" name="fecha" required>
    <br><br>

    <label>Lugar:</label>
    <input type="text" name="lugar" required>
    <br><br>

    <label>Equipo Local:</label>
    <select name="localNombre" required>
        <option th:each="e : ${equipos}"
                th:value="${e.nombre}"
                th:text="${e.nombre}">
        </option>
    </select>
    <br><br>

    <label>Equipo Visitante:</label>
    <select name="visitanteNombre" required>
        <option th:each="e : ${equipos}"
                th:value="${e.nombre}"
                th:text="${e.nombre}">
        </option>
    </select>
    <br><br>

    <button type="submit">Guardar</button>
    <a th:href="@{/partidos}">Cancelar</a>

</form>

</body>
</html>
