<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programar Partido</title>
</head>
<body>

<h1>Programar Partido</h1>

<form th:action="@{/partidos/programar}" th:object="${partido}" method="post">

    <label>Fecha:</label>
    <input type="date" th:field="*{fecha}">
    <br><br>

    <label>Lugar:</label>
    <input type="text" th:field="*{lugar}">
    <br><br>

    <label>Equipo Local:</label>
    <select name="nombreLocal">
        <option th:each="e : ${equipos}" th:value="${e.nombre}" th:text="${e.nombre}"></option>
    </select>
    <br><br>

    <label>Equipo Visitante:</label>
    <select name="nombreVisitante">
        <option th:each="e : ${equipos}" th:value="${e.nombre}" th:text="${e.nombre}"></option>
    </select>
    <br><br>

    <button type="submit">Guardar</button>
    <a th:href="@{/partidos}">Cancelar</a>

</form>

</body>
</html>
