<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jugadores</title>
</head>
<body>

<h1>Jugadores</h1>

<a th:href="@{/jugadores/nuevo}">Crear Jugador</a>
<br><br>

<table border="1">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Edad</th>
        <th>Posición</th>
        <th>Goles</th>
        <th>Asistencias</th>
        <th>Amarillas</th>
        <th>Rojas</th>
        <th>Equipo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="j : ${jugadores}">
        <td th:text="${j.nombre}"></td>
        <td th:text="${j.dni}"></td>
        <td th:text="${j.edad}"></td>
        <td th:text="${j.posicion}"></td>
        <td th:text="${j.goles}"></td>
        <td th:text="${j.asistencias}"></td>
        <td th:text="${j.amarillas}"></td>
        <td th:text="${j.rojas}"></td>
        <td th:text="${j.equipo}"></td>
    </tr>
    </tbody>
</table>

<br>
<a href="/">Volver</a>

</body>
</html>
