<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Equipos</title>
</head>
<body>

<h1>Lista de Equipos</h1>

<a href="/equipos/nuevo">Crear Equipo</a>

<table border="1">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Entrenador</th>
        <th>Nº Jugadores</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e : ${equipos}">
        <td th:text="${e.nombre}"></td>
        <td th:text="${e.entrenador}"></td>
        <td th:text="${#lists.size(e.jugadores)}"></td>

        <td>
            <a th:href="@{/equipos/__${e.nombre}__}">Ver</a>

            &nbsp;|&nbsp;

            <a th:href="@{/equipos/__${e.nombre}__/borrar}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>

<br>

<a href="/">Volver al inicio</a>

</body>
</html>
