<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Partidos</title>
</head>
<body>

<h1>Partidos</h1>

<a th:href="@{/partidos/nuevo}">Programar partido</a>
<br><br>

<table border="1">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Lugar</th>
        <th>Local</th>
        <th>Visitante</th>
        <th>Jugado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p, i : ${partidos}">
        <td th:text="${p.fecha}"></td>
        <td th:text="${p.lugar}"></td>
        <td th:text="${p.local.nombre}"></td>
        <td th:text="${p.visitante.nombre}"></td>
        <td th:text="${p.jugado}"></td>
        <td>
            <a th:href="@{'/partidos/' + ${i.index} + '/jugar'}">Jugar</a>
            |
            <a th:href="@{'/partidos/' + ${i.index} + '/borrar'}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a href="/">Volver</a>

</body>
</html>
