<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de equipos</title>
</head>
<body>

<h1>Equipos</h1>

<a th:href="@{/equipos/nuevo}">Crear Equipo</a>
<br><br>

<table border="1">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Entrenador</th>
        <th>Jugadores</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e : ${equipos}">
        <td th:text="${e.nombre}"></td>
        <td th:text="${e.entrenador}"></td>
        <td th:text="${e.jugadores.size()}"></td>
        <td>
            <a th:href="@{'/equipos/' + ${e.nombre}}">Ver</a>
            |
            <a th:href="@{'/equipos/' + ${e.nombre} + '/eliminar'}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a href="/" class="btn btn-secondary">Volver al inicio</a>

</body>
</html>
