<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Equipo</title>
</head>
<body>

<h1 th:text="'Equipo: ' + ${equipo.nombre}"></h1>

<p>Entrenador: <span th:text="${equipo.entrenador}"></span></p>

<h2>Jugadores:</h2>

<table border="1">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Edad</th>
        <th>Posición</th>
        <th>Goles</th>
        <th>Asistencias</th>
        <th>Amarillas</th>
        <th>Rojas</th>
        <th>Valor (€)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="j : ${equipo.jugadores}">
        <td th:text="${j.nombre}"></td>
        <td th:text="${j.dni}"></td>
        <td th:text="${j.edad}"></td>
        <td th:text="${j.posicion}"></td>
        <td th:text="${j.goles}"></td>
        <td th:text="${j.asistencias}"></td>
        <td th:text="${j.amarillas}"></td>
        <td th:text="${j.rojas}"></td>
        <td th:text="${j.valorMercado}"></td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{'/equipos/' + ${equipo.nombre} + '/añadir'}">Añadir jugador</a>
<br><br>
<a th:href="@{/equipos}">Volver</a>

</body>
</html>
